#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# Note: Load this first for $DEB_BUILD_ARCH.
include /usr/share/dpkg/architecture.mk

# Note: _STRIP operations needs to be done before including buildflags.mk.
ifeq ($(DEB_BUILD_ARCH),loong64)
        # FIXME: -mlsx breaks re2c testsuite and produces a broken binary with
	# GCC 12.3.0-17deepin2 (with backported LSX/LASX support).
        export DEB_CFLAGS_MAINT_STRIP = -mlsx
        export DEB_CXXFLAGS_MAINT_STRIP = -mlsx
endif

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- --enable-docs

execute_after_dh_installexamples:
	rm -f debian/re2c/usr/share/doc/re2c/examples/c/__run_all.sh
	rm -f debian/re2c/usr/share/doc/re2c/examples/go/__run_all.sh

override_dh_auto_test:
	# testsuite requires Python multiprocessing.Pool()
	/bin/sh -c 'python3 -c "from multiprocessing import Pool; pool = Pool(); pool.close()" \
		&& dh_auto_test \
		|| echo "Support for multiprocessing.Pool() missing, skipping testsuite"'

execute_after_dh_auto_test:
	# ensure failed tests are visible in the buildlog
	/bin/sh -c 'cat test-suite.log || true'
